.app {
  display: flex;
}

.app-main {
  position: relative;
  flex: 1;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.app-content {
  padding: 1rem 2rem;
}

.app-link {
  color: #61dafb;
}

.app-form {
  padding: 1rem;
  border-radius: 3px;

  input[type="text"],
  input[type="password"] {
    padding: 0.5rem 1.2rem;
    border: 1px solid #eee;
    font-size: 1rem;
    border-radius: 3px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #fefefe;
  }

  input[type="submit"] {
    padding: 0.4rem 1rem;
    border: 1px solid #61dafb;
    background-color: #61dafb;
    color: #fff;
    font-size: 1rem;
    border-radius: 3px;
    min-width: 9rem;
    outline: none;

    &:hover {
      border: 1px solid lighten(#61dafb, 5%);
      background-color: lighten(#61dafb, 5%);
    }
  }
}

.app-form-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.app-form-item {
  position: relative;

  .app-form-item + .app-form-item {
    margin-top: 1rem;
  }

  &.submit {
    margin-top: 2.5rem;
    text-align: center;
  }

  &.error {
    input[type="text"],
    input[type="password"] {
      border-color: #f00;
    }
  }
}

.app-form-item-error {
  color: #f00;
  margin-top: 0.1rem;
  text-align: right;
  font-size: 0.8rem;
  position: absolute;
  width: 100%;
}

.app-form-error {
  color: #f00;
  margin-bottom: 1rem;
  width: 100%;
}

.app-form-title + .app-form-error {
  margin-top: -1rem;
}

.app-form-label {
  display: block;
  margin-right: 1rem;
  margin-bottom: 0.1rem;
  min-width: 5rem;
  font-size: 0.85rem;
}

.sign-in-form {
  color: #444;
  background-color: #fff;
  width: 24rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}
